<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="addpost" method="post">
  <div class="container">
      {% csrf_token %}
    <h1>------NEW POST--------</h1>

    <hr>
      <label><b>Aurthur</b></label>
      <input type="text" name="uname" id="uname" placeholder="username"><br><br>

    <label><b>Title</b></label>
      <input type="text" name="utitle" id="utitle" placeholder="username"><br><br>

    <label><b>Description</b></label>
   <input type="text" name="ucontent" id="ucontent" placeholder="username"><br><br>

    <label><b>Date</b></label>
    <input type="text" name="udate" id="udate" placeholder="username"><br><br>
  </div>
    <br>
    <button type="submit" >Post</button>
</form>

</body>
</html>