{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-image: url('{% static 'images/loginback.jpg'%}'); background-repeat:no-repeat;
background-size:cover; opacity:0.8; background-color:#FFFFCC;">
<div class="log">

<form action="login" method="post">
    {% csrf_token %}

    <h1>Login</h1>

    <br>
    Username <br>
    <input type="text" name="uname" id="uname" placeholder="username"><br><br>
    Password <br>

    <input type="password" name="upass" id="upass" placeholder="password">
    <br> <br>
    <button type="submit">sign in</button>

</form>

    </div>
</body>
<style>
body, h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
}
button{
border: 1px solid black;
padding:5px;
border-radius:4px;
}
button:hover{
color: #FFFFCC;
}
    .log{
background-color:#ffffff3b;
    margin-top:90px;
    margin-left:140px;
    width:280px;
    height: 320px;
    border-box:5px solid black;
    border-radius:13px;
    box-shadow:5px 5px 5px 4px black;

    padding:15px 20px;
    }
form{
margin:20px 30px;
}
</style>
</html>