<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% for Post in respons %}

    <div class="scroll">
<a href="home.html"><h1>{{Post.title}}</h1></a>
<h5 style="margin-top:-6px;">{{Post.date}}</h5>
<p>{{Post.content}}</p>
        <h6 style=" font-size:15px;font-style:italic; float: right; margin-right:10px; margin-top:-5px;"> by {{Post.aurt}}</h6>
    </div>

{% endfor %}

</body>
<style>
body,html{
background: #FFFFCC;
}


.scroll {
            display:block;
            border: 2px solid #FFFFFF;
            padding:10px;
             width:200px;
            height:200px;
            overflow:scroll;
            background: #FFFFFF;
    box-shadow:5px 5px 5px black;
    max-width:200px;
    float:left;
    margin:20px;

         }
    a{
    text-decoration:none;
    color:black;
    }



</style>
</html>